body {
    margin: 0;
   
}
.i {
    padding: 16px;
    border: 1px solid grey;
    background-color: white;
}
.container {

    display: grid;
    grid-template-rows: 100px calc(100vh - 200px) 100px;
    grid-template-columns:300px calc(100vw - 400px) 100px ;
    grid-template-areas: 
    'header header header'
    'sidebar content content'
    'footer footer footer';
    

}
.headerP {
    grid-area: header;
   
}
.sidebarP {
    grid-area: sidebar;
    
}
.contentP {
    grid-area: content;
}
.footerP {
  
    grid-area: footer;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
.input {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}


.navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    font-size: 1.25rem;


}
.sidebarpos {
   
    display: grid;
    justify-content: space-between;
    height: 100%;
    font-size: 1.25rem;
}
.footerpos {
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    align-content: center;
    

}